@model IEnumerable<EPaper.Models.Product>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AdminIndex</h2>
<div class="dropdown">
    
    <ul class="navbar-nav mr-auto">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </ul>
</div>

<br/>
<div>
    <table class="table table-striped border">
    <tr class="table-info">

            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Stock)
            </th>
        </tr>
    
    <tbody>
        @foreach (var item in Model)

        {
            var conc = item.Price + "$";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => conc)
                </td>




                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> | |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> |
                    <a asp-action="AddtoCart" asp-controller="Basket" asp-route-id="@item.ProductId">Add to Cart</a>



                </td>
            </tr>
        }
    </tbody>
   </table>
</div>