@model List<EPaper.Models.ViewModelBasket>

@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <h2 class="text-info"> Your Shopping Cart</h2>
    <br />
    @if (Model.Count > 0)
    {
         <div class="container border border-secondary rounded" style="padding:15px;">
            <div class="row">
                <div class="col-8" style="border-right:1px solid #0094ff">
                    <table class="table table-active table-striped">
                        <tr class="table-info">
                            <th style="text-align:center; width:20%">
                                <label for="Name">Name</label>
                            </th>
                            <th style="text-align:center; width:20%">
                                <label for="Price">Price</label>
                            </th>
                            <th style="text-align:center; width:20%">
                                <label for="Quantity">Quantity</label>
                            </th>
                            <th>
                                <label for="Image">Image</label>
                            </th>

                        </tr>
                        @foreach (var item in Model)
                        {
                        <tr style="padding:50px;">
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>
                                <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="item.Id">
                                    <img src="" style="width:100%; margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                                </a>

                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Name)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Price)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(c => item.Quantity)
                            </td>
                            <td style="text-align:center">
                                <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Name">
                                    <i class=" fas fa-trash-alt">

                                    </i>
                                </button>


                            </td>

                        </tr>
                        }
                    </table>
                </div>
            </div>

             <div class="col-4" style="padding-left:30px;">
                 <div class="row">
                     <div class="col-12">
                         <label>Full Name: </label>

                     </div>
                     <div class="col-12">
                         <input for="Name" class="form-control" />
                     </div>
                     <div class="col-12">
                         <label> Phone: </label>

                     </div>
                     <div class="col-12">
                         <input for="Phone" class="form-control" />
                     </div>
                     <div class="col-12">
                         <label> Address: </label>

                     </div>
                     <div class="col-12">
                         <input for="Address" class="form-control" />
                     </div>
                     <div class="col-12">
                         <label> Email: </label>

                     </div>
                     <div class="col-12">
                         <input for="Email" class="form-control" />
                     </div>
                 </div>
             </div>

        </div>
    }
</form>