
@model EPaper.Models.Book
@{ 
    ViewData["Title"] = "Details";
}


<br />
<h2 class="text-info">Book Details</h2>

<div class="p-4 border rounded row">
    @*Image*@
    <div class="col-4">
        <img src="@Model.Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
    </div>

    <div class="col-8">
        <p class="pro">@Model.Product.Name<span class="pros">@(Model.Product.Price + " $")</span></p>

        <p class="pro">@Model.Product.Description</p>
        <p class="pro">Category<span class="pros">@Model.Category</span></p>
        <p class="pro">Author<span class="pros">@Model.Author</span></p>
        <p class="pro">Publisher<span class="pros">@Model.Publisher</span></p>
        <p class="pro">Pages<span class="pros">@Model.Pages</span></p>
    </div>
    <br />
    <br />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back to Books</a>
    </div>

</div>








